# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3

# Virtual environments
venv/
env/

# Environment variables
.env

# ML model files
*.pt
*.pth
*.bin

# Datasets
dataset/
datasets/

# Logs
*.log

bert_fake_news_model/