<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AI Mock Interview</title>
  <link href="/static/css/main.css" rel="stylesheet">

</head>
<body>

  <nav>
    <ul class="footer-links">
      <li><a href="/user_home/">Home</a></li>
      <li><a href="/user_logout/">Logout</a></li>
    </ul>
  </nav>



<section id="login" class="auth-section">



  <div class="auth-container">

    <!-- Login Form -->
    <div class="auth-box">
      <h3>Contact</h3>



        <form method="POST">
              {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="number" name="phone" placeholder="Mobile Number" required />

        <input type="text" name="desc" placeholder="Query" required />
        <button type="submit">Submit</button>
      </form>
    </div>

  </div>
</section>


<footer class="site-footer">
  <div class="footer-content">
    <h3>AI Mock Interview System</h3>
    <p>Bridging Silence, Connecting Worlds.</p>



    <p class="footer-credit">© 2025 AI Mock Interview System. All rights reserved.</p>
  </div>
</footer>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for message in messages %}
    swal("{{message}}");
    {% endfor %}
</script>

</body>
</html>




